body 
{
    direction:rtl;
    background-image:url(../backgrounds/87a0d65366c9bc380b54be6688fa5a91.jpg);
    text-align:center;

}

#container{
    width:960px;
    margin:0 auto

}
h1{
    text-align:center;
    font-weight:bold;
    color:#73253A;
    font:status-bar;
    font-size:42pt;
    text-shadow: 1px 1px 1px #C01B48;

}
h2{
    font:status-bar;
    color:#C01B48;
    font-size:16pt;
    padding-top:15px;
    text-shadow: 1px 1px 1px #C01B48;

}
.first{
    font:status-bar;
    font-size:18pt;
    color:#C25170;
    text-align:center;
    padding:20px;
}

.sections{
    font:status-bar;
    font-size:14pt;
    color:#CA2457;
    padding-top:20px;
}
li{
     font:status-bar;
    font-size:14pt;
    color:#C25170;
    padding-top:8px;
    list-style-type:circle;
    a:hover{
	color:#C25170;
}

}
#instagram{
    width:50px;
    height:50px;
    margin-top:15px;
        margin-bottom: 30px;

}

#instagram:hover {
    width:60PX;
    height:60PX;
    margin-bottom: 30px;
	
}




